<header class="site-header" role="banner">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        {% assign t = page.layout | downcase %}
        <a class="navbar-brand" href="/">Void Gateway</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if t == 'post' or t == 'posts' %} active {% endif %}">
                <a class="nav-link" href="/posts"> <i class="lnr lnr-layers"></i> Posts </a>
            </li>
            <li class="nav-item {% if t == 'project' or t == 'projects' %} active {% endif %}">
                <a class="nav-link" href="/projects"> <i class="lnr lnr-earth"></i> Projects </a>
            </li>
            <li class="nav-item {% if t == 'about' %} active {% endif %}">   
                <a class="nav-link" href="/about"> <i class="lnr lnr-bubble"></i> About </a>
            </li>
        </ul>
    </nav>
</header>