<ul class="social-media-list">
    <p>Contact me by using:</p>
    <li class='social-github'>
        <a title="Github" href="http://github.com/abekroenem"><i class="fab fa-github fa-2x"></i></a>
    </li>
    <li class='social-stack-overflow'>
        <a title="StackOverflow" href="https://stackoverflow.com/users/7670316/abe"><i class="fab fa-stack-overflow fa-2x"></i></a>
    </li>
    <li class='social-twitter'>
        <a title="Twitter" href="http://twitter.com/abekroenem"><i class="fab fa-twitter fa-2x"></i></a>
    </li>
    <li class='social-mail'>
        <a title="E-Mail" href="mailto:{{ site.email }}"><i class="fas fa-envelope fa-2x"></i></a>
    </li>
    <li class='social-gitter' >
        <a title="Gitter" href="https://gitter.im/abekroenem"><i class="fab fa-gitter fa-2x"></i></a>
    </li>
</ul>