/* Colors */

$grey: #d2d2d2;
$grey-light: #c3c3c3;
$grey-dark: #606060;

$background: #f9f9f9;

$black: #000000;
$black-light: hsla(0, 0%, 20%, 0.407);

$paper-page-color: #f4f2ec56;
$paper-letter-color: #0c0c0c;

$layer-black: rgba(0, 0, 0, 0.503);