---
layout: default
---

<div class="container">
    <section class="landing-content">
        <div class="row no-margin">
            <div class="col-md-12">
                <figure>
                    <div class='animated fadeInUp delay-05'>
                        <h4>Paulo Alfredo Barros</h4>
                        <p class='no-margin'>A.K.A Abe Kroenem</p>
                    </div>
                    <img class='landing-image animated fadeInUp delay-1' src="/assets/img/me.jpg" alt="me">
                    <div class='animated fadeInUp delay-1'>
                        <h6><span class="lnr lnr-map-marker"></span> Brazil, From North</h6>
                        <h6><span class="lnr lnr-screen"></span> BackEnd, DevOps, Open Source, Agile</h6>
                        <h6><span class="lnr lnr-rocket"></span> Art, Music, Games, Inovation, Teamwork </h6>
                    </div>
                </figure>
            </div>
        </div>
    </section>
</div>
