---
layout: default
---
<article class='post'>
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 post-border"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 no-padding post-main">
      <header class="post-header">
        <div class="animated fadeIn delay-1">
          <div class="post-cover">
            <figure class="cover-image">
              <img src="/covers/{{page.cover}}" alt="{{page.title}} post cover image">
              <div class="img-copyright">source: {{ page.cover_copyright }}</div>
            </figure>
            <div class='layer'>
              <h3 class="post-title">{{ page.title | escape }}</h3>
            </div>
          </div>
        </div>
      </header>
      <main class="post-body" aria-label='post-body'>
        <section>
          <div class="post-info animated fadeIn delay-2">
            <span class='post-author'>
            {% if page.author %}
            {% assign author = site.data.authors[page.author] %}
            <a href="{{author.twitter}}">
            <i class="fas fa-user"></i> <span itemprop="name"> {{ author.name }} </span>
            </a> 
            {% endif %}
            </span>
            <time class='post-date' datetime="{{ page.date | date_to_xmlschema }}">
            <i class="fas fa-clock"></i> 
            {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
            {{ page.date | date: date_format }}
            </time>
          </div>
          <div class="animated fadeIn delay-3">
            <div class="post-content">
              <div class="content">
                {{ content }}
              </div>
            </div>
            <div class="post-footer">
              <div class="post-categories padding">
                <i class="fas fa-tags text-primary"></i>
                {% for category in page.categories %}
                <a href="{{category.url}}">{{category}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          {% include disqus_comments.html %}
        </section>
      </main>
    </div>
		<div class="col-lg-2 col-md-1 col-sm-0 post-border"></div>
	</div>
</article>
