---
layout: default
---
<div class="container-fluid">
    <section>
		<div class='row'>
			<div class="col-md-12 animated 5s zoomIn">
				<h5 class='pad-top-1 text-center'>Thoughts through the time</h5>
				<hr>
			</div>
			{% for post in site.posts %}
			<div class='post-card col-lg-3 col-md-6 col-sm-12 animated fadeInRight'>
				<div class="card card-inverse">
					<a href="{{post.url}}">
					<img class="card-img-top" src="/covers/{{post.cover}}" alt="{{post.title}} post cover image">
					</a>
					<div class="card-body">
						<h5 class="card-title"><a href="{{post.url}}">{{post.title}}</a></h5>
						<div class="post-info">
							<span>
							{% assign author = site.data.authors[post.author] %}
							<a href="http://{{author.twitter}}"><i class='fas fa-user'></i> {{ author.name }}</a>
							</span>
							<span class="float-right">
								<i class='fas fa-clock'></i> {{post.date | date: "%b %e, %Y"}}
							</span>
						</div>
						<hr/>
						<p>{{post.excerpt | strip_html }}</p>
					</div>
					{% if post.categories %}
					<div class='card-footer post-categories text-primary'>
						<i class="fas fa-tags"></i>
						{% for category in post.categories %}
							<span>{{category}}</span>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
        </div>
    </section>
</div>
